.sidebar {
  background-color: #FFFEEC;
  padding: 1em;
  width: fit-content;
  border-radius: 12px;
  box-shadow: 0 4px 6px #eadac9;
}

.sidebar p {
  cursor: pointer;
}

.home {
  display: flex;
}

#photobooth {
  height: 25em;
  cursor: pointer;
}

#photobooth:hover {
  height: 26em;
}