.sidebar, button {
  background-color: #FFFEEC;
  padding: 1em;
  width: fit-content;
  border-radius: 12px;
  box-shadow: 0 4px 6px #eadac9;
  border: none;
  margin: 1em;
}

button {
  cursor: pointer;
}

.sidebar p {
  cursor: pointer;
}

.home {
  display: flex;
}

/* home page photobooth */
#photobooth {
  height: 25em;
  cursor: pointer;
}

#photobooth:hover {
  transform: rotate(3deg);
}

#example {
  height: 15em;
  margin-right: 2em;
}

#example:hover {
  transform: rotate(-3deg);
}

#canvas {
  display: none
}

#video {
  width: 640px;
  height: 400px;
  object-fit: cover;
}

.hidden {
  display: none;
  height: 0;
}

.countdown {
  position: absolute;
  z-index: 4;
  font-size: 5em;
  color: #FFFEEC;
  text-shadow: 2px 2px 4px #eadac9;
}

.camera {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.camera video {
  display: block;
  max-width: 100%;
  height: auto;
}

button { z-index: 5; position: relative;}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#photoDisplay {
  display: flex;
  flex-direction: row;
}

.wholePhotosheet {
  background-color: #FFFEEC;
  padding: 1em 1em 3em 1em;
}