.sidebar, button {
  background-color: #FFFEEC;
  padding: 1em;
  width: fit-content;
  border-radius: 12px;
  box-shadow: 0 4px 6px #eadac9;
  border: none;
  margin: 1em;
}

button {
  cursor: pointer;
}

.sidebar p {
  cursor: pointer;
}

.home {
  display: flex;
}

#photobooth {
  height: 25em;
  cursor: pointer;
}

#photobooth:hover {
  transform: rotate(3deg);
}

#example {
  height: 15em;
  margin-right: 2em;
}

#example:hover {
  transform: rotate(-3deg);
}

#canvas {
  display: none
}

#video {
  width: 640px;
  height: 400px;
  object-fit: cover;
}

.hidden {
  display: none;
}